body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #111;
  color: white;
  padding: 40px;
  text-align: center;
}

main {
  padding: 20px;
}

.projet {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}
